<div class="container mt-4">
  <h2>Contacto</h2>

  <form #formContacto="ngForm"
        (ngSubmit)="procesarFormulario(formContacto)">

    <div class="mb-3">
      <label class="form-label">Nombre</label>

      <input
        type="text"
        class="form-control"
        name="nombre"
        ngModel
        required
        #nombre="ngModel"
        pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$"
        (input)="soloLetras($event)">
        
    </div>


<div class="mb-3">

  <label class="form-label">Correo</label>

  <input
    type="email"
    class="form-control"
    name="correo"
    ngModel
    required
    email
    #correo="ngModel"
    pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">


  <div *ngIf="correo.invalid && correo.touched" class="text-danger">

    <small *ngIf="correo.errors?.['required']">
      El correo es obligatorio
    </small>

    <small *ngIf="correo.errors?.['email']">
      Formato de correo inválido
    </small>

    <small *ngIf="correo.errors?.['pattern']">
      Ingresa un correo válido (ejemplo: usuario@gmail.com)
    </small>

  </div>

</div>

<button class="btn btn-primary" type="submit">
Enviar
</button>
</form>
</div>
<div class="modal fade" id="modalResultado"
tabindex="-1">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title">{{ tituloModal
}}</h5>

<button class="btn-close" data-bs-
dismiss="modal"></button>

</div>
<div class="modal-body">
<p>{{ mensajeModal }}</p>
</div>
</div>
</div>
</div>