body {
    background-color: #DBF0A3;
    margin: 0;
    font-family: Arial, sans-serif;
}



main {
    display: flex;
    gap: 20px;
    padding: 20px;
}

section {
    flex: 3;
    background-color:#a7f9c6;
    padding: 15px;
    border-radius: 5px;
}



.img1
.img2 {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}



@media (max-width: 1024px) {

section {
 flex: 1;
 }

 aside {
 flex: 1;
 }
}

@media (max-width: 600px) {
 main {
 flex-direction: column;
 }

 nav {
 display: flex;
 flex-direction: column;
 }

 nav a {
margin: 5px 0;
 }
}

